<!DOCTYPE html>
<html lang="en">
<head>
    <title>Placeholder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS SCRIPTS-->
    <link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1 id="Template">Omg no way, hewo :3</h1>

    <!---------------->
    <!-- JS SCRIPTS -->
    <!---------------->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Main JS -->
    <script src="main.js"></script>
</body>
</html>