html {
    background: linear-gradient(rgb(145, 177, 216),rgb(231, 190, 163),rgb(206, 175, 218),rgb(145, 177, 216));
    background-size: cover;
}
body {
    max-width:1000px;
    margin:auto;
    background-color: aquamarine;
    border-radius: 10px;
    border: 4px #546c71 solid;
    padding:10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    margin: auto;
    background-color: black;
    padding: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border: 4px #dee9f0 solid;
}
header i {
    color:yellow;
}
h1 {
    color:blue;
}